

/* Typography */
$font-size-base: 14px;
$font-size-h3: ceil(($font-size-base * 1.5));

/* Navbar */
$navbar-height: 56px;

/* Forms */
$label-size: 1.2rem;
$form-group-margin-bottom: 24px;

/* Clamp */
$clamp-lines-to-show: 2;
$clamp-hover-background: rgba($clr-grey, 0.3)