
.card {
  @extend .panel, .panel-default;

  .card-image {
    @extend .panel-heading;

    img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  }

  .card-title {
    font-weight: bold;
  }

  .card-content {
    @extend .panel-body;
    padding: 10px;
    overflow: hidden !important;
  }
}