
form > .form-group:first-child {
  margin-top: 10px;
}

.form-group {
  position: relative;

  label {
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 1rem;
    transition: 0.2s ease all;
  }

  input.form-control {

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }

    &:focus + label, &.ng-not-empty + label {
      top: -1.5rem;
      font-size: $label-size;
    }

    &:focus + label {
      color: $input-border-focus;
    }

    &.ng-valid.ng-dirty {
      box-shadow: inset 0 -1px 0 $brand-success;

      & + label {
        color: $brand-success;
      }
    }
  }
}
